<div class="footer">

    <div class="container">
        <footer class="d-flex flex-wrap align-items-center justify-content-between py-4 my-4 border-top">
            <div class="nav col-md-4 d-flex align-items-center">

                <span class="nav-item"><a href="/" class="nav-link px-2 text-muted">&copy; AudioSwap 2022</a></span>
                <span class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></span>
                <span class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></span>
            </div>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/" class="nav-link px-2 text-muted"><i class="bi bi-facebook"></i></a></li>
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/" class="nav-link px-2 text-muted"><i class="bi bi-twitter"></i></a></li>
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/" class="nav-link px-2 text-muted"><i class="bi bi-instagram"></i></a></li>

            </ul>

        </footer>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>