<%- include('../partials/header.ejs') %>

<div class = "content">

        <p>AudioSwap is a place where everyone can trade their audio equipments</p>
        <p>AudioSwap was created in 2022</p>
        <p>We have many categories such as Speakers and Receivers</p>

</div>

<%- include('../partials/footer.ejs') %>