<%- include('../partials/header.ejs') %>

<div class = "content">

    <h2>Contact Us</h2>
    <p>For Assistance, call 911-123-4567, or email us at audioswap@gamil.com</p>
    <p>Follow AudioSwap on Social Media</p>

</div>

<%- include('../partials/footer.ejs') %>