<%- include('partials/header.ejs') %>

<div class="content">
    <h1>Welcome to AudioSwap!</h1>
    <p>Where audiophiles go to find, trade or give away audio equipments.</p>
    <p>Check out what we have by pressing "All Trade Items"</p>
</div>

<%- include('partials/footer.ejs') %>